page-registration {

}
.text_centered {
text-align: center;
}
.img_align {
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: gray;
    border-radius: 22px;
}

.img_alignno_backcolor {
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   // background-color: gray;
   // border-radius: 22px;
}
