<!--
  Generated template for the Registration page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center;">Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!--<form >-->
  <img src="assets/image/angular.png" class="img_aligns"/>
  <span><p class="text_centered"><b>Get Talent</b> </p></span>
<ion-item>
  <ion-label floating>User Name</ion-label>
  <ion-input type="text" [(ngModel)]="reg.name" name="name"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Email</ion-label>
  <ion-input type="text" [(ngModel)]="reg.email" name="useremail"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Password</ion-label>
  <ion-input type="password" [(ngModel)]="reg.password" name="userpassword"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Confirm Password</ion-label>
  <ion-input type="password" [(ngModel)]="reg.cpassword" name="usercpassword"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Mobile Number</ion-label>reg.
  <ion-input type="number" [(ngModel)]="reg.mblnum" name="usernumber"></ion-input>
</ion-item>

<ion-item>
<ion-label>Select Role</ion-label>
<ion-select [(ngModel)]="selectRole"  (ionChange)="onSelectedRole($event, selectRole)">
  <ion-option *ngFor="let roleslected of roleSelect" value="{{ roleslected.name }}">{{ roleslected.value }}</ion-option> 
</ion-select>
</ion-item>
<div *ngIf="selectRole">
  <!-- Client Part -->
  <div *ngIf="currentRolename=='client'" padding>
    <img src="assets/image/company.png" class="img_align"/>
    <h5 class="text_centered" >Client Details</h5>
    <ion-item>
      <ion-label floating>Company Name</ion-label>
      <ion-input type="text" [(ngModel)]="reg.client_name" name="client_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Company Website</ion-label>
     <ion-input type="text" [(ngModel)]="reg.client_website" name="client_website"></ion-input>
    </ion-item>
  </div>
  <!-- End of Client Part -->

<!-- Parent Part -->
<div *ngIf="currentRolename=='partner'" padding>
  <img src="assets/image/partner.png" class="img_align" />
  <h5 class="text_centered" padding> Partner Details</h5>
    <ion-item>
      <ion-label floating>Partner Name</ion-label>
      <ion-input type="text" [(ngModel)]="reg.partner_name" name="partner_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Partner Email</ion-label>
     <ion-input type="email" [(ngModel)]="reg.partner_email" name="partner_email"></ion-input>
    </ion-item>

  <!--</ion-list>-->
  </div>
<!-- End Parent Part -->

<ion-item>
<ion-label>Select Role</ion-label>
<ion-select [(ngModel)]="selectRole"  (ionChange)="onSelectedRole($event, selectRole)">
  <ion-option *ngFor="let roleslected of roleSelect" value="{{ roleslected.name }}">{{ roleslected.value }}</ion-option> 
</ion-select>
</ion-item>

<!--<ion-item >
  <ion-label>Select</ion-label>
  <ion-select [(ngModel)]="brand"   [disabled]="!brands.length" (ionChange)="SelectedRolevalue($event, brand)">
    <ion-option *ngFor="let brand of brands" [value]="brand">{{ brand }}</ion-option>
  </ion-select>
</ion-item>-->
</div>


<ion-item>
    <ion-label>Country</ion-label>
    <ion-select [(ngModel)]="countryname" (ionChange)="countrySelected($event, countryname)">
        <ion-option *ngFor="let selectedcountryname of countryselect" value="{{selectedcountryname.name}}">
            {{selectedcountryname.name}}
        </ion-option>
    </ion-select>
</ion-item>

<ion-item>
  <ion-label>Select State</ion-label>
  <ion-select [(ngModel)]="statename" (ionChange)="stateSelected($event, statename)">
<!--<ion-option selected="true">State</ion-option>-->
<ion-option *ngFor="let sltste of stateselect" value="{{sltste}}">{{ sltste }}</ion-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Select City</ion-label>
  <ion-select [(ngModel)]="cityname" (ionChange)="citySelected($event, cityname)">
<!--<ion-option selected="true" value="">City</ion-option>-->
<ion-option *ngFor="let sltcty of selectcity" value="{{sltcty}}">{{ sltcty }}</ion-option>
  </ion-select>
</ion-item>







<button ion-button (click)="registrationForm();" block>Register</button>
<!--</form>-->

</ion-content>
