

<ion-content padding>
    <div style="float: right;">
      <label>
          <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang"
            [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </label>
    </div>
   <!--<img src="assets/image/logo.png" class="img_alignno_backcolor"/>-->

   <div class="mainLogo"><img src="assets/image/getTalent.png" alt="GetTalent" height=" " width=" "/></div>
  
    <form [formGroup]="authForm" (ngSubmit)="submitForm(authForm.value)">

        <div class="gorupInputs">
          <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email"  value="" [formControl]="authForm.controls['email']" [ngClass]="{'error-border':!authForm.controls['email'].valid}"
              required
              ></ion-input>         
          </ion-item>

          <div class="error-box" *ngIf="authForm.controls['email'].hasError('required') && authForm.controls['email'].touched">* Email is required!</div>
          <div class="error-box" *ngIf="authForm.controls['email'].hasError('minlength') && authForm.controls['email'].touched">* Minimum Email length is 5!</div>
          <div class="error-box" *ngIf="authForm.controls['email'].hasError('maxlength') && authForm.controls['email'].touched">* Maximum email length is 20!</div>
          
          <ion-item class="noBorderBtm">
              <ion-label floating>Password</ion-label>
              <ion-input type="password" value="" [formControl]="authForm.controls['password']" ></ion-input>
          </ion-item>

        </div>
            <!--<div class="error-box" *ngIf="authForm.controls['password'].hasError('required') && authForm.controls['password'].touched">* Password is required!</div>
            <div class="error-box" *ngIf="authForm.controls['password'].hasError('minlength') && authForm.controls['password'].touched">* Minimum Password length is 8!</div>
        <div class="error-box" *ngIf="authForm.controls['password'].hasError('checkFirstCharacterValidatorOutput') && authForm.controls['password'].touched">* Password cant't start with number!</div><br/>-->
      
          <ion-item>
            <ion-toggle checked="false"></ion-toggle>
            <ion-label>Remember Me</ion-label>
          </ion-item>

          <div class="btnGroup">
            <button type="submit" ion-button >Login</button>
            <a (click)="gonewRegister()" >Don’t have an account?</a> <span class="spacer">|</span>
            <a (click)="Goforgotpage()">Forgot Password?</a>
        </div>

        <div class="socialBtns">
            <button type="submit" class="facebookBtn" ><ion-icon name="logo-facebook"></ion-icon>
            Sign in with Facebook</button>
            <button type="submit" class="twitterBtn" ><ion-icon name="logo-twitter"></ion-icon>Sign in with Twitter</button>
        </div>

    </form>
       
          <!--<a (click)="gonewRegister()"> New Register</a>-->
</ion-content>
